In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:

school_name=school_data_complete["school_name"]
number_students=len(school_data_complete["student_name"])


total_schools=len(school_name.unique())



total_budget=sum(school_data["budget"].unique())





math_score_mean=round(school_data_complete["math_score"].mean(),5)



reading_score_mean=round(school_data_complete["reading_score"].mean(),5)



school_data_complete
#Percentage of students who passed math 
passing_score_df=school_data_complete.loc[school_data_complete["math_score"]>=70 , :]
passing_score_math=passing_score_df["math_score"].count()*100
passing_percentage_math=passing_score_math/number_students


#Percentage of students who passed reading
passing_score_df=school_data_complete.loc[school_data_complete["reading_score"]>=70 , :]
passing_score_reading=passing_score_df["reading_score"].count()*100
passing_percentage_reading=passing_score_reading/number_students


#Percentage of students who passed both
passing_score_df=school_data_complete.loc[(school_data_complete["reading_score"] >=70) & (school_data_complete["math_score"]>=70), ["student_name", "reading_score", "math_score"]]
passing_student=passing_score_df["student_name"].count()*100
passing_percentage_total=passing_student/number_students


#Create Data Frame to summarize information
School_DataSummary_df=pd.DataFrame({"Total Schools": [total_schools], 
                                   "Total Students": [number_students],
                                   "Total Budget": [total_budget], 
                                   "Average Math Score": [math_score_mean],
                                   "Average Reading Score": [reading_score_mean], 
                                   "% Passing Math": [passing_percentage_math],
                                   "% Passing Reading": [passing_percentage_reading], 
                                   "% Overall Passing": [passing_percentage_total]})

School_DataSummary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.98537,81.87784,74.980853,85.805463,65.172326

In [3]:

school_summary_df=school_data_complete[["school_name", "type", "reading_score", "math_score", "size", "budget", "math_score", "reading_score"]]

school_summary_df=school_summary_df.groupby(["school_name"]).mean()

school_summary_df["Budget per student"]=school_summary_df["budget"]/school_summary_df["size"]




passing_score_math_df=school_data_complete.loc[school_data_complete["math_score"]>=70 , :]

passing_score_reading_df=school_data_complete.loc[school_data_complete["reading_score"]>=70 , :]

total_pass_math=passing_score_math_df.groupby(["school_name"]).count()["math_score"]

total_pass_reading=passing_score_reading_df.groupby(["school_name"]).count()["reading_score"]


total_students_school=school_data_complete.groupby(["school_name"]).count()["student_name"]



school_summary_df["% Passing Math"]=(total_pass_math/total_students_school)*100

school_summary_df["% Passing Reading"]=(total_pass_reading/total_students_school)*100

school_summary_df["School Type"]=school_data_complete.groupby(["school_name"])["type"].unique()


passing_both_df=school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70), :]




passing_both_total=passing_both_df.groupby(["school_name"])["math_score"].count()

school_summary_df["% Overall Passing"]=(passing_both_total/total_students_school)*100


school_summary_df=school_summary_df[["School Type",
                                     "size",
                                     "budget", 
                                     "Budget per student", 
                                     "math_score",
                                     "reading_score", 
                                     "% Passing Math",
                                     "% Passing Reading", 
                                     "% Overall Passing"]] 





renamed_Df=school_summary_df.rename(columns={"School Type": "School Type",
                                             "size":"Total Students",
                                             "budget":"Total School Budget",
                                            "math_score": "Average Math Score",
                                            "reading_score":"Average Reading Score"})


school_summary_df


renamed_Df

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score,Average Math Score,Average Reading Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,,
Bailey High School,[District],4976.0,3124928.0,628.0,77.048432,77.048432,81.033963,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858.0,1081356.0,582.0,83.061895,83.061895,83.975780,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949.0,1884411.0,639.0,76.711767,76.711767,81.158020,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739.0,1763916.0,644.0,77.102592,77.102592,80.746258,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468.0,917500.0,625.0,83.351499,83.351499,83.816757,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635.0,3022020.0,652.0,77.289752,77.289752,80.934412,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427.0,248087.0,581.0,83.803279,83.803279,83.814988,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917.0,1910635.0,655.0,76.629414,76.629414,81.182722,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761.0,3094650.0,650.0,77.072464,77.072464,80.966394,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962.0,585858.0,609.0,83.839917,83.839917,84.044699,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999.0,2547363.0,637.0,76.842711,76.842711,80.744686,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761.0,1056600.0,600.0,83.359455,83.359455,83.725724,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635.0,1043130.0,638.0,83.418349,83.418349,83.848930,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283.0,1319574.0,578.0,83.274201,83.274201,83.989488,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800.0,1049400.0,583.0,83.682222,83.682222,83.955000,83.955000,93.333333,96.611111,90.333333